@model ApplicationScheduler.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="startTime" class="control-label"></label>
                <input asp-for="startTime" class="form-control" />
                <span asp-validation-for="startTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endTime" class="control-label"></label>
                <input asp-for="endTime" class="form-control" />
                <span asp-validation-for="endTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="meeting_person" class="control-label"></label>
                <input asp-for="meeting_person" class="form-control" />
                <span asp-validation-for="meeting_person" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="place" class="control-label"></label>
                <input asp-for="place" class="form-control" />
                <span asp-validation-for="place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="purpose" class="control-label"></label>
                <input asp-for="purpose" class="form-control" />
                <span asp-validation-for="purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reference" class="control-label"></label>
                <input asp-for="reference" class="form-control" />
                <span asp-validation-for="reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

